.projectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem auto;
    width: 98%;
    padding: 1rem;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.1);
border-radius: 6px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(11px);
-webkit-backdrop-filter: blur(11px);
border: 1px solid rgba(255, 255, 255, 0.28);

}
.projectsIntro {
    font-style: italic;
    font-weight: 500;
    color: var(--bg-0);
    font-size: 2rem;
    margin-bottom: 2rem;
    @media screen and (max-width: 560px) {
        font-size: 1.5rem;
    }
}
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
}
.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    padding: 1rem;
    border-radius: 5px;
    background-color: var(--bg-1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.25s ease;
    gap: 5px;
    max-width: 500px;
    @media screen and (min-width: 560px) {
        min-height: 500px;
    }
}
/* .projectImage {
    width: 500px;
    height: 250px;
    @media screen and (max-width: 560px) {
        width: 300px;
        height: 150px;
        
    }
} */
.project:hover {
    transform: scale(1.10);
}