.title {
    padding-top: 130px;
    text-align: center;
    min-height: 70vh;
}
.titleash2 {
    margin-bottom: 10vh;
}
.monCV {
    background-color: var(--revert);
    color: var(--bg-0);
    transition: all 0.25s ease;
}
.monCV:hover {
    transform: scale(1.05);
    background-color: var(--bg-0);
    color: var(--revert);
}
@media screen and (max-width: 1000px) {
    .monCV {
       width: 150px;
       font-size: 1.5rem;
    }
    
}